<div class="footer">
  <div class="row">
    <div class="col-sm-5">
      <h2>𝒫𝒶𝓈𝓉𝑒𝓁𝑒𝓇í𝒶 𝐿𝒜𝐼𝒩𝒩𝐸</h2>
    </div>
    <div class="col-sm-2">
    <P class="title">CONTACTO</P>
    <p class="subtitle">+52 418-109-8544</p>
    </div>
    <div class="col-sm-3">
    <P class="title">UBICACIÓN</P>
    <p class="subtitle">Calle 5 de Mayo #22 "B" Col. Centro</p>
    </div>
    <div class="col-sm-1">
    <P class="title">INFORMACIÓN</P>
    <p class="subtitle">- Galería</p>
    <p class="subtitle">- Tienda</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="center">
      <p class="policy">
        2020 Derechos reservados.
      </p>
    </div>
  </div>
</div>
