<app-navbar></app-navbar>
<img src="https://firebasestorage.googleapis.com/v0/b/lainne-c321f.appspot.com/o/banner%20cake.jpg?alt=media&token=00cfd10e-99d5-4bfa-9e2a-bf2744e4bc6d" class="responsive">
<div class="about">
  <p >Acerca de Nosotros</p>
</div>
<div class="description">
  <p class="title">¿Quiénes somos?</p>
  <hr>
  <p class="description2">
    somos una grandiosa pasteleria la cual nuestra misión es crear productos excelentes a partir de técnicas tradicionales mexicanas e ingredientes de alta calidad, cuidando cada detalle para brindar una experiencia gastronómica clásica, con la visión de ser la repostería más reconocida por la gente, compartiendo nuestra pasión por la cultura. manteniendo nuestro espíritu para crear momentos de calidad en la mesa.
  </p>
</div>

