.about{
  text-align: center;
  position: absolute;
  top: 30%;
  left: 27%;
  right: 27%;
  font-size: 4em;
  color: #FFFFFF;
  font-family: "Palatino Linotype";
}
.title{
  text-align: center;
  font-size: 5em;
  color: #FE9CC5;
  font-family: "Palatino Linotype";
}
.description{
  position: absolute;
  left: 30%;
  right: 30%;
}

.description hr{
  width: 20%;
  height: 2px;
  background-color: #EC9EB1;
}
.description2{
  text-align: center;
  position: absolute;
  
  }
.responsive {
  width: 100%;
  height: auto;
}

