<app-navbar></app-navbar>
<img src="https://firebasestorage.googleapis.com/v0/b/lainne-c321f.appspot.com/o/banner%20cake.jpg?alt=media&token=00cfd10e-99d5-4bfa-9e2a-bf2744e4bc6d" class="responsive">
<div class="about">
  <p >Acerca de Nosotros</p>
</div>
<div class="description">
  <div class="row">
  <p class="title">¿Quiénes somos?</p>
  </div>
  <hr>
  <p class="description2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit at elit nec fringilla. Curabitur non
    magna lacinia, blandit risus ut, dignissim lorem. Pellentesque eget erat non magna malesuada varius ac sit amet sem.
    Proin elementum congue lacus, eu sodales dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
    nisl augue, et hendrerit justo rutrum eget. Pellentesque imperdiet, enim at porta blandit, nibh mi blandit sem, et
    efficitur lectus arcu eget dui. Etiam tincidunt lobortis faucibus.
  </p>
</div>
