<div class="center">
  <div class="row" >
  <h3>𝒫𝒶𝓈𝓉𝑒𝓁𝑒𝓇í𝒶</h3>
  <img src="../assets/img/Cake.png" class="logo">
  <h3>𝐿𝒜𝐼𝒩𝒩𝐸</h3>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="catalog">GALERIA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="order">TIENDA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">NOSOTROS</a>
      </li>
      <li class="nav-item"  *ngIf="log === 1">
        <a class="nav-link" href="/">PEDIDOS</a>
      </li>
        <li class="nav-item dropdown " style="right: 2%; position: absolute" *ngIf="log === 1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img width="30px" height="30px" src="https:\\firebasestorage.googleapis.com\v0\b\lainne-c321f.appspot.com\o\avatar-placeholder.png?alt=media&token=10c6f845-849b-4b10-9fa4-427da8b8ac95">
            {{dataUser}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 7.5%; position: absolute">
            <a class="dropdown-item"  [routerLink]="['profile']">Perfil</a>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </div>
        </li>

    </ul>

  </div>
</nav>
<hr>
