<!--<div class="wrapper fadeInDown">-->
    <!--<div id="formContent">-->
      <!--&lt;!&ndash; Tabs Titles &ndash;&gt;-->
  <!---->
      <!--&lt;!&ndash; Icon &ndash;&gt;-->
      <!--<div class="fadeIn first">-->
        <!--<font face="channel ">Patelerias LAINNE</font>-->
      <!--</div>-->
  <!---->
      <!--<form [formGroup]="formLogin">-->
        <!--<p>-->
          <!--<input type="text" class="fadeIn second" formControlName="usuario" placeholder="Usuario">-->
        <!--</p>-->
        <!--<p>-->
          <!--<input type="password" class="fadeIn third" formControlName="contrasena" placeholder="Contraseña">-->
        <!--</p>-->
        <!--<input type="submit" (click)="login()" [disabled]="!formLogin.valid" class="fadeIn fourth" value="Iniciar Sesión">-->
           <!--</form>-->
  <!---->
      <!--&lt;!&ndash; Remind Passowrd &ndash;&gt;-->
      <!--<div id="formFooter">-->
        <!--<a class="underlineHover" href="#">Forgot Password?</a>-->
      <!--</div>-->
      <!---->
    <!--</div>-->
  <!--</div>-->
  <h1>Login works</h1>
