<div id="login" class="log_back" >
</div>
    <div class="card-body ">
      <br>
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form">

              <h2 class="text-center text-info letter">𝒫𝒶𝓈𝓉𝑒𝓁𝑒𝓇í𝒶 𝐿𝒜𝐼𝒩𝒩𝐸</h2>
              <h5 class="text-center text-info letter" style="font-family: 'Apple Color Emoji'; padding-top: 10px"> R E G I S T R O</h5>
              <div class="form-group" style="padding-top: 10px">

                <label for="nombre" class="text-info letter">Nombre:</label><br>
                <input type="text" #nombre name="nombre" id="nombre" class="form-control" >

                <label for="apellido" class="text-info letter">Apellido:</label><br>
                <input type="text" #apellido name="apellido" id="apellido" class="form-control" >

                <label for="telefono" class="text-info letter">Telefono:</label><br>
                <input type="number" #telefono name="telefono" id="telefono" class="form-control" >

                <label for="ciudad" class="text-info letter">Ciudad:</label><br>
                <input type="text" #ciudad name="ciudad" id="ciudad" class="form-control"  >

                <label for="direccion" class="text-info letter">Dirección:</label><br>
                <input type="text" #direccion name="direccion" id="direccion" class="form-control"  >

                <label for="correo" class="text-info letter">Correo:</label><br>
                <input type="email" #correo name="correo" id="correo" class="form-control"  >

                <label for="contrasena" class="text-info letter">Contraseña:</label><br>
                <input type="text" #contrasena name="contrasena" id="contrasena" class="form-control"  >

              </div>

              <div class="form-group">
                <input type="button" class="btn btn-info btn-md enter-button" (click)="registrar_usuario(nombre.value, apellido.value, telefono.value, direccion.value, ciudad.value, correo.value, contrasena.value)" value="Registrar">
              </div>
              <p id="forgot-link " class="text-center ">
                <span class="letter">¡Ya tengo cuenta!</span> <a href="login" class="text-info letter"  > Ingresar</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>



