<!Doctype html>
<html>
<head>
     <meta charset="UTF-8">
     <title>Registration </title>

</head>
<body>
 <!---heading---->
     <header class="heading" > 𝒫𝒶𝓈𝓉𝑒𝓁𝑒𝓇í𝒶 𝐿𝒜𝐼𝒩𝒩𝐸</header>
	<!---Form starting----> 
    <div class="center">    
     
    <form  [formGroup]="formRegistrar">
     <!--- For Name---->
        <div class="form-row">
         <div class="col-sm-12" class="form-group">
            <label for="nombre" class="firstname">Nombre :</label>
            <input type="text" formControlName="Name" name="nombre" id="nombre" placeholder="Nombre" class="form-control ">
        </div>
    </div>
           
         <div class="form-row">
            <div class="col-sm-12" class="form-group">
                <label for="apellido" class="firstname">Apellido :</label>            
                <input type="text" formControlName="LastName" name="apellido" id="apellido" placeholder="Apellido" class="form-control last">
            </div>
        </div>
       
        <!-----For Number---->
            <div class="form-row">
                <div class="col-sm-12" class="form-group">        
                    <label for="telefono" class="firstname">Telefono :</label>
                    <input type="text" formControlName="Telephone" name="telefono"  id="telefono"placeholder="Telefono" class="form-control" >
                </div>
            </div>
       
     <!-----For direction---->
     <div class="form-row">
        <div class="col-sm-12" class="form-group">            
            <label for="direccion" class="firstname">Direccion :</label>
                <input type="text" formControlName="Address" name="direccion"  id="direccion" placeholder="Direccion" class="form-control" >
        </div>
     </div>
    
     <!-----For city---->
     <div class="form-row">
        <div class="col-sm-12" class="form-group">
            
            <label for="ciudad" class="firstname">Ciudad :</label>
            <input type="text" formControlName="City" name="ciudad"  id="ciudad" placeholder="Ciudad" class="form-control" >
        </div>
     </div>
    
     <!-----For email---->
     <div class="form-row">
        <div class="col-sm-12" class="form-group">
            
            <label for="correo" class="firstname">Correa :</label>
            <input type="email" formControlName="Mail" name="correo"  id="correo" placeholder="Correo" class="form-control" >
        </div>
     </div>
    
	 <!-----For Password and confirm password---->
     <div class="form-row">
        <div class="col-sm-12" class="form-group">
            
            <label for="contrasena" class="firstname">Contraseña :</label>
            <input type="password" formControlName="Password" name="contrasena" id="contrasena" placeholder="Enter your Password" class="form-control">
        </div>
     </div>
	<br>
	    <div class="col-sm-12">
		    <button class="btn btn-warning"  (click) = "registrar_usuario()" >Submit</button>
        <button class="btn btn-warning"  (click) = "cancel()" >Cancelar</button>
        </div>
   
	 </form>		 		  
    </div>
    </body>		
</html>
	 
