<app-navbar></app-navbar>
<img src="../../assets/img/Banner.png" class="banner">
  <div class="info">
    <h3>𝓐𝓽𝓮𝓷𝓭𝓲𝓭𝓸 𝓹𝓸𝓻 𝓼𝓾 𝓹𝓻𝓸𝓹𝓲𝓮𝓽𝓪𝓻𝓲𝓪</h3>
    <br>
    <p>Nuvia Valdez Juárez</p>
    <br>
    <p>Calle 5 de Mayo #22 "B" Col. Centro San Diego de la Unión</p>
    <div class="row">
      <div class="col">
        <img src="../../assets/img/pngwave%20(1)@2x.png">
      </div>
      <div class="col">
        <img src="../../assets/img/pngwing.com@2x.png">
      </div>
      <div class="col">
        <img src="../../assets/img/pngwave%20(2)@2x.png">
      </div>
      <div class="col">
        <img src="../../assets/img/Cream_Cake_with_Chocolate_PNG_Clipart_Picture@2x.png">
      </div>
    </div>
    <div class="row">
    </div>
  </div>
